<div class="m-0" mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    <span class="modal-title">Atlanta</span>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>

<mat-dialog-content>
    <div class="my-2">
        <h4>Virus growing</h4>
    </div>
    <button style="width: 100%" mat-raised-button color="primary" type="button" (click)="goToAnalyze()">
        Analyze
    </button>
</mat-dialog-content>